  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Viga&display=swap');
  
  :root {
  --color-primary: hsl(270, 50%, 40%);
  --color-primary-30: hsl(270, 50%, 30%);
}
/* globals */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Montserrat Alternates', sans-serif; }

h1, h2, h3 { font-family: 'Viga', sans-serif; }

section { height: 85vh;}

button { outline: none; }

a { color: var(--color-primary); text-decoration: none; }

/* edit bootstrap pattern */
.line-red {border: 1px solid red}

.navbar { height: 15vh; }

.btn-link { 
  color: var(--color-primary); 
  transition: transform .8s ease-in-out; 
}
.btn-link:hover { transform: rotate(360deg); }

.carousel { width: 90vw; height: 70vh; margin-top: 20vh; margin-inline: auto; box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2); border-radius: .5rem; }

.carousel-item img { height: 70vh; width: auto; object-fit: cover; border-radius: .5rem; }

.badge{ 
  background: var(--color-primary);
  border-radius: 50px;
  padding: .5rem 1rem;
  margin: .5rem;
  transition: all 0.5s ease-in-out;
}
.badge:hover {
  transform: scale(1.1);
  margin: 0 1rem;
}

.btn-primary, .btn:visited { background: var(--color-primary); border: none; }
.btn-primary:hover { background: var(--color-primary-30); }

.accordion-button:not(.collapsed) {
  color: var(--color-primary);
  background: whitesmoke;
}

.card { 
  border: none;
  box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.2);
  transition: all 0.5s ease-in-out;
}
.card:hover { transform: scale(1.1); }
.card-footer {
  padding: 1rem;
}
/* custom css */
.section-title { margin-bottom: 1.5rem; }

.text-about span { color: var(--color-primary); font-weight: 700; }

.image-about-us { border-radius: 50%; transition: border-radius 0.5s ease-in-out; box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2); }
.image-about-us:hover { border-radius: .5rem; }
.copyright { font-size: .8rem; }

/* responsive */
@media (max-width: 990px) { .projects { height: auto; } }
@media (max-width: 576px) { 
  section { height: auto; padding: 3rem 1rem; } 
  .navbar { height: 20vh; } 
  .carousel { margin-top: 25vh; padding: 0; } 
  .image-about-us { width: 80%; }
}